<?xml version="1.0" encoding="UTF-8"?>

<module name="org.apache.commons.compress" xmlns="urn:jboss:module:1.5">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="commons-compress-1.20.jar"/>
    </resources>

    <dependencies>
    </dependencies>
</module>
