.project
.settings
target
elecciones-admin-web/.settings
elecciones-admin-web/.classpath
elecciones-admin-web/.project
elecciones-admin-web/target
elecciones-ejb/.settings
elecciones-ejb/.classpath
elecciones-ejb/.project
elecciones-ejb/target
elecciones-services/.settings
elecciones-services/.classpath
elecciones-services/.project
elecciones-services/target
ansible/pass-vault.yaml
ansible/*.retry
ansible/.vagrant*
ubuntu-xenial-16.04-cloudimg-console.log
.tern-project
ubuntu-bionic-18.04-cloudimg-console.log
