.project
.settings
target
elections-admin-web/.settings
elections-admin-web/.classpath
elections-admin-web/.project
elections-admin-web/target
elections-ejb/.settings
elections-ejb/.classpath
elections-ejb/.project
elections-ejb/target
elections-services/.settings
elections-services/.classpath
elections-services/.project
elections-services/target
ansible/pass-vault.yaml
ansible/*.retry
ansible/.vagrant*
ubuntu-xenial-16.04-cloudimg-console.log
ubuntu-bionic-18.04-cloudimg-console.log
.tern-project
/bin/
