<wicket:panel>
	<div class="buttons-checkbox">
		<a wicket:id="ask" wicket:message="title:commontBtnConfDelPreg" name="askDelete"><i class="text-danger fa fa-trash fa-lg"></i></a>
		<span wicket:id="container" class="pull-left">
			<a wicket:id="confirm" wicket:message="title:commontBtnConfDelConf" name="confirmDelete"><i class="text-success fa fa-check fa-lg"></i></a>
			<a wicket:id="cancel" wicket:message="title:commontBtnConfDelCanc" name="cancelDelete"><i class="text-danger fa fa-times fa-lg"></i></a>
		</span>
	</div>
</wicket:panel>