<wicket:panel>
	<div class="buttons-checkbox">
		<a type="button" wicket:id="ask" class="btn btn-primary" wicket:message="title:commontBtnRevAuditConfElecTit" name="askAuditorRevision" id="askAuditorRevision"><wicket:message key="commontBtnRevAuditConfElec" /></a>
		<span wicket:id="container" class="text-center">
			<a wicket:id="confirm" class="btn btn-primary btn-rounded" name="confirmAuditorRevision" id="confirmAuditorRevision"><i class="fa fa-check"></i>&nbsp;<wicket:message key="commontBtnRevAuditHabRev" /></a> 
			<a wicket:id="cancel" class="btn btn-danger btn-rounded" name="cancelAuditorRevision"><i class="fa fa-times"></i>&nbsp;<wicket:message key="commontBtnRevAuditCanc" /></a>
		</span>
	</div>
</wicket:panel>