<wicket:panel>
	<div class="buttons-checkbox">
		<a type="button" wicket:id="ask" class="btn btn-primary" wicket:message="title:commontBtnAprobAuditPregTit" name="askAuditorApproval"><wicket:message key="commontBtnAprobAuditPreg" /></a>
		<span wicket:id="container" class="text-center">
			<a wicket:id="confirm" class="btn btn-primary btn-rounded" name="confirmAuditorApproval"><i class="fa fa-check"></i>&nbsp;<wicket:message key="commontBtnAprobAuditConf" /></a>
			<a wicket:id="cancel" class="btn btn-danger btn-rounded" name="cancelAuditorApproval"> <i class="fa fa-times"></i>&nbsp;<wicket:message key="commontBtnAprobAuditCanc" /></a>
		</span>
	</div>
</wicket:panel>