<wicket:panel>
	<div class="col-lg-12">
		<div class="contact-box">
			<div class="col-sm-2">
				<div class="text-center">
					<img alt="image" class="img-circle m-t-xs img-md" wicket:id="picture">
				</div>
			</div>
			<div class="col-sm-10">
				<h4><strong class="text-success" wicket:id="name"></strong></h4>
				<div class="scroll_content m-t-sm m-b-sm">
					<p wicket:id="bio"></p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			// Add slimscroll to element
			$('.scroll_content').slimscroll({
				height : '100px'
			})
		});
	</script>
</wicket:panel>