<wicket:panel>
	<div class="table-responsive m-t">
		<table class="table dataTables">
			<thead class="jumbotron">
				<tr>
					<th><wicket:message key="censusManagementUserColLang" /></th>
					<th><wicket:message key="censusManagementUserColName" /></th>
					<th><wicket:message key="censusManagementUserColMail" /></th>
					<th><wicket:message key="censusManagementUserColCant" /></th>
					<th><wicket:message key="censusManagementUserColPais" /></th>
					<th><wicket:message key="censusManagementUserColOrg" /></th>
					<th><wicket:message key="censusManagementUserColLink" /></th>
				</tr>
			</thead>
			<tbody>
				<tr wicket:id="userVotersList">
					<td wicket:id="language"></td>
					<td wicket:id="name"></td>
					<td wicket:id="mail"></td>
					<td wicket:id="voteAmount"></td>
					<td wicket:id="country"></td>
					<td wicket:id="orgid"></td>
					<td><span wicket:id="voteLink"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</wicket:panel>