<wicket:panel>
	<div class="buttons-checkbox">
		<a id="askCloseElection" name="askCloseElection" type="button" wicket:id="ask" data-testid="ask" class="btn btn-primary"><wicket:message key="confElecClosingAskButton" /></a>
		<span wicket:id="container" data-testid="container">
			<p><strong><wicket:message key="confElecClosingIrrev" /></strong></p>
			<a id="confirmCloseElection" name="confirmCloseElection" wicket:id="confirm" data-testid="confirm" class="btn btn-primary"><i class="ti ti-check"></i>&nbsp;<wicket:message key="confElecClosingConfirmButton" /></a> 
			<a id="cancelCloseElection" name="cancelCloseElection" wicket:id="cancel" data-testid="cancel" class="btn btn-danger"><i class="ti ti-x"></i>&nbsp;<wicket:message key="confElecClosingCancelButton" /></a>
		</span>
	</div>
</wicket:panel>