<wicket:panel>
	<div class="buttons-checkbox">
		<a type="button" wicket:id="ask" data-testid="ask" class="btn btn-primary" wicket:message="title:commontBtnAprobAuditPregTit" name="askAuditorApproval"><wicket:message key="commontBtnAprobAuditPreg" /></a>
		<span wicket:id="container" data-testid="container" class="text-center">
			<a wicket:id="confirm" data-testid="confirm" class="btn btn-primary btn-rounded" name="confirmAuditorApproval"><i class="ti ti-check"></i>&nbsp;<wicket:message key="commontBtnAprobAuditConf" /></a>
			<a wicket:id="cancel" data-testid="cancel" class="btn btn-danger btn-rounded" name="cancelAuditorApproval"> <i class="ti ti-x"></i>&nbsp;<wicket:message key="commontBtnAprobAuditCanc" /></a>
		</span>
	</div>
</wicket:panel>