<wicket:panel>
	<div class="buttons-checkbox" data-testid="delete-with-confirmation">
		<a wicket:id="ask" wicket:message="title:commontBtnConfDelPreg" name="askDelete" data-testid="delete-with-confirmation-ask"><i class="text-danger ti ti-trash fs-28" data-testid="delete-with-confirmation-ask-icon"></i></a>
		<span wicket:id="container" class="pull-left" data-testid="delete-with-confirmation-container">
			<a wicket:id="confirm" wicket:message="title:commontBtnConfDelConf" name="confirmDelete" data-testid="delete-with-confirmation-confirm"><i class="text-success ti ti-check fs-28" data-testid="delete-with-confirmation-confirm-icon"></i></a>
			<a wicket:id="cancel" wicket:message="title:commontBtnConfDelCanc" name="cancelDelete" data-testid="delete-with-confirmation-cancel"><i class="text-danger ti ti-x fs-28" data-testid="delete-with-confirmation-cancel-icon"></i></a>
		</span>
	</div>
</wicket:panel>
