<wicket:panel>
	<div class="buttons-checkbox">
		<a type="button" wicket:id="ask" data-testid="reject-nomination-ask-button">
			<span wicket:id="askLabel">Rechazar</span>
		</a>
		<span wicket:id="container" data-testid="container" class="text-center">
			<p class="mb-2 mt-2"><strong><span wicket:id="irreversibleLabel">¿Seguro?</span></strong></p>
			<a wicket:id="confirm" data-testid="reject-nomination-confirm-button">
				<i class="ti ti-check"></i>&nbsp;<span wicket:id="confirmLabel">Confirmar</span>
			</a>
			<a wicket:id="cancel" data-testid="reject-nomination-cancel-button">
				<i class="ti ti-x"></i>&nbsp;<span wicket:id="cancelLabel">Cancelar</span>
			</a>
		</span>
	</div>
</wicket:panel>
