<wicket:panel>
	<div>
		<a wicket:id="ask" data-testid="ask" class="text-success ti ti-repeat fs-2" wicket:message="title:commontBtnActTokenPreg,aria-label:commontBtnActTokenPreg"></a>
	</div>
	<div wicket:id="container" data-testid="container" class="pull-left">
			<a wicket:id="confirm" data-testid="confirm" wicket:message="title:commontBtnActTokenConf,aria-label:commontBtnActTokenConf" class="text-success ti ti-check fs-2" name="confirmUpdateToken"> </a>
			<a wicket:id="cancel" data-testid="cancel" wicket:message="title:commontBtnActTokenCanc,aria-label:commontBtnActTokenCanc" class="text-danger ti ti-x fs-2" name="cancelUpdateToken"> </a>
	</div>
</wicket:panel>
