<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<span class="ms-1 text-warning fw-bold"
		style="cursor:pointer;"
		tabindex="0"
		role="button"
		data-toggle="popover"
		data-trigger="hover focus"
		data-placement="top"
		data-bs-toggle="popover"
		data-bs-trigger="hover focus"
		data-bs-placement="top"
		wicket:message="title:electionResultsWinnerPopoverTitle,data-content:electionResultsWinnerPopoverContent,data-bs-content:electionResultsWinnerPopoverContent,aria-label:electionResultsWinnerPopoverTitle">★</span>
</wicket:panel>
